body {
    background-color: black;
    color: $font-color;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: $font-size;
    font-family: $nyt-font;   
}

header {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        justify-content: flex-start;
    }
}

.logo {
    width: 60%;
    margin-bottom: 6%;
    text-align: center;
    @include tablet {
        margin-bottom: 0;
        width: 27%;
    }
    @include desktop {
        width: 23%;
    }
}

img {
    width: 100%;
}

.choose {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    padding-bottom: 10px;
}

select {
    background-color: white;
}

// MAIN News Stories

main {
    width: 100%;
    display: grid;
    grid-auto-rows: 400px;
    grid-auto-columns: 1fr;
}

footer {
    width: 100%;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 12px;
    color: #c2c2c2;
    @include desktop {
        text-align: left;
    }
    p {
        @include desktop {
            padding-left: 30px;
        }
    }
}

